# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
*migrations*

# React
/node_modules/
/build/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled files
*.pyc
*.pyo
*.pyd
*.class
*.o
*.so
*.dll
*.exe

# Dependency directories
/.venv/
/env/
/.env/

# Testing
/coverage/
/.pytest_cache/

# Miscellaneous
/.cache/
/.DS_Store
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local